/* stylelint-disable */

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.header-height {
  @include media-breakpoint-up(lg) {
    //max-height: 100px;
  }
}

.logo-flag,
.basic-flag {
  .header-height {
    @include media-breakpoint-up(lg) {
      max-height: 72px;
    }
  }
}

.extended-bar {
  background-color: myvar(colorPrimary);
  padding: 8px 0;
}

#header {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.11);
  background-color: rgba($color-charcoal, 1);
  padding: 0;
  font-family: $font-primary;
  font-weight: 400;

  .navbar {
    padding: 20px 10px;
    //position: absolute;
    width: 100%;
    z-index: 20;
    background-color: black;

    //@extend .header-height;

    .header-height {
      flex-wrap: wrap;
    }

    .navbar-brand {
      display: flex;
      align-items: center;
      max-width: 150px;

      @include media-breakpoint-down(sm) {
        //margin-left: auto;
        padding-right: 0;
        margin-right: 0;
      }

      .logo {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &.center-logo {
        @include media-breakpoint-down(sm) {
          width: 100%;
          justify-content: center;
        }
      }
    }

    .hamburger {
      margin-top: 3px;
      position: relative;
      z-index: 11;
      margin-left: auto;
      padding-right: 0;

      .hamburger-box {
        margin-bottom: 0;
        width: 30px;
        color: white;

        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
          background-color: white;
          width: 30px;
          height: 2px;
        }

        // .hamburger-inner::before {
        //   top: -8px;
        // }

        // .hamburger-inner::after {
        //   bottom: -8px;
        // }
      }

      &:hover {
        opacity: 1;
      }

      // &.is-active {
      //   .hamburger-inner,
      //   .hamburger-inner::before,
      //   .hamburger-inner::after {
      //     background-color: $color-white;
      //   }
      // }
    }

    #navbarSupportedContent {
      display: none;
      transition: all .3s ease-in-out;
      padding: 0 20px;

      &.show {
        display: flex;
        flex-basis: 100%;
        flex-grow: 1;
        transition: all .75s ease-in-out;
      }

      .menu-main-menu-container {
        padding-top: 20px;
        padding-bottom: 20px;
        //padding-left: 20px;

        @include media-breakpoint-up(sm) {
          padding-left: 0;
        }

        @include media-breakpoint-up(lg) {
          padding-top: 0;
          padding-left: 0;
          padding-bottom: 0;
        }

        .nav {
          justify-content: center;
          flex-direction: column;
          margin-top: 20px;

          .menu-item {
            position: relative;

            a {
              margin: 5px 0;
              text-transform: capitalize;
              position: relative;
              transition: all 0.3s ease;
              font-family: $font-menu;
              letter-spacing: 0.5px;
              font-size: 14px;
              font-weight: 600;
              padding: 3px 0;
              color: white;
              line-height: 31px;

              @include media-breakpoint-up(sm) {
                margin: 0;
              }

              @media (min-width: 1400px) {
                font-size: 16px;
              }

              &:hover {
                color: black;
                font-weight: bold;
                transition: all 0.3s ease;
              }
            }

            &.current-menu-item,
            &.current_page_parent {
              > a {
                @include media-breakpoint-up(lg) {
                  font-weight: 700;
                  color: white;
                  background-color: myvar(colorSecondary);
                }
              }
            }

            .sub-menu {
              width: 100%;
              list-style: none;
              transition: all 0.3s ease;
              position: relative;
              padding-left: 10px;

              @include media-breakpoint-up(sm) {
                padding-left: 20px;
              }

              @include media-breakpoint-up(lg) {
                padding: 0;
                box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.35);
                position: absolute;
                top: 100%;
                left: 0;
                opacity: 0;
                z-index: 2;
                visibility: hidden;
                flex-wrap: wrap;
                background-color: white;
                min-width: 150px;
              }

              li {
                width: 100%;

                a {
                  color: $color-charcoal;
                  text-align: left;
                  background-color: white;
                  font-weight: 400;

                  @include media-breakpoint-up(lg) {
                    padding: 20px 15px;
                  }

                  &:hover {
                    color: myvar(colorSecondary);
                    font-weight: 700;
                  }
                }

                &.current-menu-item {
                  a {
                    color: myvar(colorSecondary);

                    @include media-breakpoint-up(lg) {
                      border-left: 5px solid myvar(colorSecondary);
                    }
                  }
                }
              }
            }

            &:hover {
              .sub-menu {
                transition: all 0.15s ease;

                @include media-breakpoint-up(lg) {
                  opacity: 1;
                  visibility: visible;
                  display: flex;
                }
              }
            }
          }
        }
      }
    }
  }

  &.trans-navbar {
    position: absolute;
    width: 100%;

    .navbar {
      background-color: transparent;
    }
  }

  &.basic-flag,
  &.logo-flag {
    .navbar-brand {
      background-color: myvar(colorSecondary);
      height: 120px;

      @include media-breakpoint-up(lg) {
        height: 160px;
      }
    }
  }

  &.logo,
  &.logo-flag {
    .hamburger,
    .navbar-collapse {
      display: none !important;
    }

    .container.header-height {
      justify-content: center !important;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  &.logo-flag {
    box-shadow: none;

    .navbar-brand {
      padding-left: 15px;
      padding-right: 15px;
      height: 100px;
      margin: 0;
      max-width: 220px;

      @include media-breakpoint-up(md) {
        height: 160px;
      }
    }

    .container.header-height {
      padding-top: 0;
      max-height: 72px;
    }
  }

  &.single-page-nav {
    .navbar-brand {
      @include media-breakpoint-down(sm) {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }

    .extended-bar,
    #navbarSupportedContent {
      display: none !important;
    }

    .hamburger {
      display: none;
    }
  }

  &.extended-cta.basic-flag {
    .navbar {
      .navbar-brand {
        position: absolute;
        padding: 0 20px;
        z-index: 100;

        @include media-breakpoint-up(lg) {
          top: -50px;
        }
      }

      #navbarSupportedContent .menu-main-menu-container .nav {
        margin-top: 60px;

        @include media-breakpoint-up(lg) {
          margin-top: 0;
        }
      }
    }
  }

  &.mobile-view {
    .hamburger {
      .hamburger-box {
        .hamburger-inner {
          &::before {
            height: 3px;
          }
        }
      }
    }
  }

  .btn-book {
    position: fixed;
    right: 20px;

    @media (max-width: 991px){
      position: fixed;
      top: 180px;
      right: 15px;
    }

    a {
      background: white;
      padding: 15px 20px;
      font-weight: 600;
      font-size: 15px;
      color: black;
      letter-spacing: 0.930844px;
      text-transform: uppercase;

      &:hover {
        background: black;
        color: white;
      }
    }
  }

  &.dekstop-view {
    .header-height {
      justify-content: space-between;
      padding: 0 20px;
      width: 100%;
      align-items: center;

      @include media-breakpoint-up(lg) {
        justify-content: start;
      }

      @include media-breakpoint-up(xl) {
        padding: 0 50px;
      }

      @media (min-width: 1900px) {
        max-width: 1500px;
        margin: 0 auto;
      }

      .navbar-collapse {
        flex-grow: initial;

        #nav-primary {
          margin-top: 20px;
        }
      }

      .navbar-brand {
        padding: 0;

        @include media-breakpoint-up(lg) {
          margin-right: 0;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
